@model IEnumerable<EmsWebApplication.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Reviews</title>
    <!-- include necessary CSS files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .checked {
            color: orange;
        }
    </style>
</head>
<body>
    <h2>Reviews</h2>
    @if (User.Identity.Name == "Admin@test.com")
    {
        <p> @Html.ActionLink("Create New", "Create")</p>
    }
        <table class="table">
            <tr>
                <th>User Review</th>
                <th>Rating</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.UserReview)</td>
                    <td>
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (i <= item.Rating)
                            {
                                <span class="fa fa-star checked"></span>
                            }
                            else
                            {
                                <span class="fa fa-star"></span>
                            }
                        }
                    </td>
                    @*only show the links if The signed in email is Admin@test.com*@
                    @if (User.Identity.Name == "Admin@test.com")
                    {


                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id.ToString() })
                        </td>
                    }
                </tr>
            }
        </table>
    </body>
</html>
